
$hotspot-color--background: $color--black;
$hotspot-color--text: $color--slate;
$hotspot-color--text--alt: $color--yellow;
$hotspot-color--border: $color--slate;
$hotspot-unit--container-padding: $base-font-size;
$hotspot-unit--container-border-radius: 3px;
$hotspot-unit--title-size: $base-font-size * 1.2;

.hotspot-container {
  @include display-flex();
  @include flex-direction(column);
  @include single-transition();
  @include translate3d(-350px - ($base-font-size * 2), 0, 0);
  @include box-sizing('border-box');
  background-color: rgba($hotspot-color--background, 0.9);
  box-shadow: 0 0 7px rgba(0,0,0,0.65);
  color: $hotspot-color--text;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  padding: $base-font-size;
  top: 0;
  width: 350px;
  z-index: 1001;

  .in-detail & {
    @include translate3d(0, 0, 0);
  }

  @include mq-portrait {
    @include background-image(linear-gradient(rgba($hotspot-color--background, 0.9), rgba($hotspot-color--background, 1) 50%));
    @include translate3d(0, 0, 0);
    background-color: transparent;
    height: 33%;
    left: 0;
    margin-left: 0;
    top: 100%;
    width: 100%;

    .in-detail & {
      @include translate3d(0, -60px, 0);
    }
  }
}

.hotspot-header {
  @include align-items('center');
  @include display-flex();
  @include apply-side-rhythm-border(bottom, 1px, 0.6666);
  padding-left: $hotspot-unit--container-padding;
}

  .hotspot-title {
    @include flex(1);
    @include adjust-font-size-to($hotspot-unit--title-size, 1.2);
    color: $hotspot-color--text--alt;
    margin: 0;

    > i {
      @include adjust-font-size-to($base-font-size);
      color: $hotspot-color--text;
      display: block;
    }
  }

  .hotspot-directions {
    @include adjust-font-size-to(12px);
    background-image: image-url('icon-directions.png');
    background-position: center 6px;
    background-repeat: no-repeat;
    padding-top: 24px;
    text-align: center;
    width: 25%;
  }

.hotspot-list {
  @include leader();
  @include flex(1);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.hotspot-item-container {
  background-clip: padding-box;
  background-color: rgba(lighten($hotspot-color--background, 20%), 0.9);
  border-radius: $hotspot-unit--container-border-radius;
  padding: {
    left: $hotspot-unit--container-padding;
    right: $hotspot-unit--container-padding;
  };
  position: relative;
}

  %hotspot-list-child {
    @include padding-trailer(0.75);
    @include apply-side-rhythm-border(top, 1px, 0.75);
    padding: {
      left: 0.5em;
      right: 0.5em;
    };
  }

  .hotspot-list-title {
    @include adjust-font-size-to($hotspot-unit--title-size, 1.2);
    @extend %hotspot-list-child;
    border: none;
    color: lighten($hotspot-color--text--alt, 20%);
  }

  .hotspot-item {
    @extend %hotspot-list-child;

    @include mq-portrait {
      @include padding-leader(0.5);
      @include padding-trailer(0.5);
    }
  }

.hotspot-spinner {
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
}
