.install {
  @extend %fullscreen;
  @include align-items('center');
  @include display-flex();
  @include justify-content('center');
  background-color: #859288;
  background-image: image-url('bg_l.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;

  @include mq-small-screen {
    @include retina-image('bg_p', 'jpg');
  }

  p {
    margin: 1.2em 0;
  }

  strong, b {
    font-weight: bold;
  }
}

.install-container {
  text-align: center;
  margin: 10px;
  max-width: 297px;
  width: 100%;
}

.install-title {
  @include headline(28px);
  text-shadow: 0 -1px rgba(50,50,50,0.25);
}

.install-logo {
  @include logo(120px);
  margin: 1.2em auto;
}

.cta {
  bottom: 1.2em;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}