$splash-element-separation: 30px;

.splash {
  @extend %fullscreen;
  @include align-items('center');
  @include display-flex();
  @include justify-content('center');
  background-color: #859288;
  background-image: image-url('bg_l.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;

  @include mq-small-screen {
    @include retina-image('bg_p', 'jpg');
  }
}

.splash-container {
  text-align: center;
  margin: 10px;
  max-width: 297px;
  width: 100%;
}

.splash-logo {
  background-image: image-url('birdur_logo.png');
  height: 167px;
  margin: 0 auto;
  width: 168px;
}

.splash-title {
  font: normal 48px $font-stack--title;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-transform: uppercase;
}

.splash-error {
  color: red;
  font-size: 16px;
  line-height: 1.2;
  margin-top: $splash-element-separation;
  text-align: left;
}

.splash-input-container {
  margin-top: $splash-element-separation;
  position: relative;
}

.splash-input {
  @include appearance('none');
  @include box-sizing('border-box');
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 0;
  font-size: 16px;
  line-height: 37px;
  padding: 0 38px 0 8px;
  text-align: left;
  width: 100%;
}

.splash-spinner {
  position: absolute;
  right: 20px;
  top: 20px;
}

.splash-submit {
  @include user-select(none);
  background-color: #eead21;
  border: none;
  border-bottom: 2px solid #ee8121;
  color: #fff;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  line-height: 50px;
  margin-top: $splash-element-separation;
  outline: none;
  padding: 0;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  width: 100%;

  &:active {
    border-bottom: none;
    border-top: 2px solid #ee8121;
  }

  &[disabled] {
    pointer-events: none;
  }
}