@import "global-vars";
@import "mixins";
@import "placeholders";

@import "compass";
@import "flexbox";

@import "normalize";
@import "fonts";

@import "leaflet";
@import "splash";

@include establish-baseline();

@media (max-width: 480px) {
  @include establish-baseline($base-font-size * 0.64);
}

.to-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

html {
  @extend %fullscreen;
}

body {
  @extend %fullscreen;
  font-family: $font-stack--base;
  position: relative;
}

.app-wrapper {
  @extend %fullscreen;
}

#map {
  @extend %fullscreen;

  @include mq-portrait {
    height: 80%;
  }
}

.geolocate {
  @extend .icon-location;
  background-color: rgba(#fff, 0.8);
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.65);
  cursor: pointer;
  font-size: 12px;
  left: 360px;
  line-height: 21px;
  padding: 2px 0 0 0;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 26px;
  z-index: 1;

  &:hover {
    background-color: #f4f4f4;
    color: #000;
  }
}

.hotspot-container {
  @include display-flex();
  @include flex-direction(column);
  background-color: rgba($color--black, 0.9);
  color: $color--slate;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 350px;
  z-index: 1001;

  @include mq-portrait {
    @include background-image(linear-gradient(rgba($color--black, 0.9), rgba($color--black, 1) 50%));
    @include single-transition(top);
    background-color: transparent;
    height: 33%;
    left: 0;
    margin-left: 0;
    top: 66%;
    width: 100%;
  }
}

%hotspot-child {
  padding: {
    left: $base-font-size;
    right: $base-font-size;
  };
}

.hotspot-title {
  @extend %hotspot-child;
  @include adjust-font-size-to($base-font-size * 1.52, 1.5);
  @include apply-side-rhythm-border(bottom);
  @include padding-leader(1);
  margin: 0;

  @include mq-portrait {
    @include apply-side-rhythm-border($side:bottom, $lines: 0.5);
    @include padding-leader(0.5);
  }
}

  .hotspot-location {
    @include appearance(none);
    background: transparent;
    border: 0;
    color: $color--yellow;
    display: block;
    font-style: normal;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    width: 100%;
  }

.hotspot-list {
  @include flex(1);
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.hotspot-item {
  @extend %hotspot-child;
  @include padding-leader(1);
  @include padding-trailer(1);
  @include single-transition(background-color);
  cursor: pointer;
  list-style: none;

  @include mq-portrait {
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
  }

  .no-touch & {
    &:hover,
    &.active {
      background-color: lighten($color--black, 25%);
    }
  }

  > i {
    @include adjust-font-size-to($base-font-size * 0.72);
    color: $color--yellow;
    display: block;
  }
}

.error-container {
  @extend %fullscreen;
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  left: 0;
  position: absolute;
  top: 0;
}

  .error {
    background: rgba($color--black, 0.9);
    color: $color--yellow;
    border-radius: 0.5em;
    padding: 1em;
    width: 500px;

    @include mq-portrait {
      width: 80%;
    }
  }