$color--slate: #f5f5f5;
$color--black: #080808;
$color--yellow: #fdd84c;

$font-stack--title: "bonvenocflight", Futura, sans-serif;
$font-stack--base: HelveticaNeue-Light, Helvetica, sans-serif;

$breakpoint--small-screen: 1024px;

// Compass
$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;

$default-transition-duration : 200ms;

$base-font-size: 18px;