@import "global-vars";

@mixin mq-portrait() {
  @media (orientation:portrait) {
    @content;
  }
}

@mixin mq-landscape() {
  @media (orientation:landscape) {
    @content;
  }
}

@mixin mq-small-screen() {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin mq-large-screen() {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin retina-image($image-name, $image-extension) {
  background-image: image-url($image-name + '.' + $image-extension);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: image-url($image-name + '@2x.' + $image-extension);
  }
}

@mixin overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@mixin logo($size) {
  @extend %logo;
  height: $size;
  width: $size;
}

@mixin headline($size) {
  font: $size $font-stack--title;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}

@mixin image-replace($bg-src) {
  background-image: $bg-src;
  direction: ltr;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}