/* line 1, ../../sass/_placeholders.scss */
.splash, html, body, .app-wrapper, #map, .error-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'bonvenocflight';
  src: url('fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.eot');
  src: url('fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.eot?#iefix') format("embedded-opentype"), url('fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.woff') format("woff"), url('fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.ttf') format("truetype"), url('fonts/bonvenocf_light_macroman/BonvenoCF-Light-webfont.svg#bonvenocflight') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'broccolidry';
  src: url('fonts/icomoon/broccolidry.eot');
  src: url('fonts/icomoon/broccolidry.eot?#iefix') format("embedded-opentype"), url('fonts/icomoon/broccolidry.woff') format("woff"), url('fonts/icomoon/broccolidry.ttf') format("truetype"), url('fonts/icomoon/broccolidry.svg#broccolidry') format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 23, ../../sass/_fonts.scss */
.icon-location, .geolocate {
  font-family: 'broccolidry';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* line 33, ../../sass/_fonts.scss */
.icon-location:before, .geolocate:before {
  content: "\e000";
}

/* line 1, ../../sass/_leaflet.scss */
.leaflet-left {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 5, ../../sass/_leaflet.scss */
.in-detail .leaflet-left {
  -webkit-transform: translate3d(350px, 0, 0);
  -moz-transform: translate3d(350px, 0, 0);
  transform: translate3d(350px, 0, 0);
}
/* line 9, ../../sass/_leaflet.scss */
.touch .leaflet-left {
  display: none;
}
@media (orientation: portrait) {
  /* line 1, ../../sass/_leaflet.scss */
  .leaflet-left {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* line 18, ../../sass/_leaflet.scss */
.leaflet-popup-content-wrapper {
  border-radius: 5px;
}

/* line 3, ../../sass/_splash.scss */
.splash {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #859288;
  background-image: url('../img/bg_l.jpg?1375712024');
  background-position: center;
  background-size: cover;
  color: #fff;
}
@media (max-width: 599px) {
  /* line 3, ../../sass/_splash.scss */
  .splash {
    background-image: url('../img/bg_p.jpg?1375712020');
  }
}
@media (max-width: 599px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 599px) and (min-resolution: 192dpi) {
  /* line 3, ../../sass/_splash.scss */
  .splash {
    background-image: url('../img/bg_p@2x.jpg?1375712020');
  }
}

/* line 19, ../../sass/_splash.scss */
.splash-container {
  text-align: center;
  margin: 10px;
  max-width: 297px;
  width: 100%;
}

/* line 26, ../../sass/_splash.scss */
.splash-logo {
  background-image: url('../img/birdur_logo.svg?1376071781');
  background-size: 100%;
  height: 168px;
  margin: 0 auto;
  width: 168px;
}

/* line 34, ../../sass/_splash.scss */
.splash-title {
  font: normal 48px "bonvenocflight", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-transform: uppercase;
}

/* line 41, ../../sass/_splash.scss */
.splash-error {
  color: red;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 30px;
  text-align: left;
}

/* line 49, ../../sass/_splash.scss */
.splash-input-container {
  margin-top: 30px;
  position: relative;
}

/* line 54, ../../sass/_splash.scss */
.splash-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 0;
  font-size: 16px;
  line-height: 37px;
  padding: 0 38px 0 8px;
  text-align: left;
  width: 100%;
}

/* line 67, ../../sass/_splash.scss */
.splash-spinner {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* line 73, ../../sass/_splash.scss */
.splash-submit {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #eead21;
  border: none;
  border-bottom: 2px solid #ee8121;
  color: #fff;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  line-height: 50px;
  margin-top: 30px;
  outline: none;
  padding: 0;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  width: 100%;
}
/* line 90, ../../sass/_splash.scss */
.splash-submit:active {
  border-bottom: none;
  border-top: 2px solid #ee8121;
}
/* line 95, ../../sass/_splash.scss */
.splash-submit[disabled] {
  pointer-events: none;
}

/* line 10, ../../sass/_hotspot-detail.scss */
.hotspot-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translate3d(-386px, 0, 0);
  -moz-transform: translate3d(-386px, 0, 0);
  transform: translate3d(-386px, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(8, 8, 8, 0.9);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.65);
  color: whitesmoke;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  padding: 18px;
  top: 0;
  width: 350px;
  z-index: 1001;
}
/* line 28, ../../sass/_hotspot-detail.scss */
.in-detail .hotspot-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (orientation: portrait) {
  /* line 10, ../../sass/_hotspot-detail.scss */
  .hotspot-container {
    background-image: -webkit-linear-gradient(rgba(8, 8, 8, 0.9), #080808 50%);
    background-image: -moz-linear-gradient(rgba(8, 8, 8, 0.9), #080808 50%);
    background-image: linear-gradient(rgba(8, 8, 8, 0.9), #080808 50%);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: transparent;
    height: 33%;
    left: 0;
    margin-left: 0;
    top: 100%;
    width: 100%;
  }
  /* line 42, ../../sass/_hotspot-detail.scss */
  .in-detail .hotspot-container {
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
  }
}

/* line 48, ../../sass/_hotspot-detail.scss */
.hotspot-header {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  border-bottom-width: 0.05556em;
  border-bottom-style: solid;
  padding-bottom: 0.83324em;
  padding-left: 18px;
}

/* line 55, ../../sass/_hotspot-detail.scss */
.hotspot-title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  font-size: 1.2em;
  line-height: 1.33333em;
  color: #fdd84c;
  margin: 0;
}
/* line 61, ../../sass/_hotspot-detail.scss */
.hotspot-title > i {
  font-size: 1em;
  line-height: 1.33333em;
  color: whitesmoke;
  display: block;
}

/* line 68, ../../sass/_hotspot-detail.scss */
.hotspot-directions {
  font-size: 0.66667em;
  line-height: 2em;
  background-image: url('../img/icon-directions.png?1376079205');
  background-position: center 6px;
  background-repeat: no-repeat;
  padding-top: 24px;
  text-align: center;
  width: 25%;
}

/* line 78, ../../sass/_hotspot-detail.scss */
.hotspot-list {
  margin-top: 1.33333em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

/* line 85, ../../sass/_hotspot-detail.scss */
.hotspot-item-container {
  background-clip: padding-box;
  background-color: rgba(59, 59, 59, 0.9);
  border-radius: 3px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
}

/* line 96, ../../sass/_hotspot-detail.scss */
.hotspot-list-title, .hotspot-item {
  padding-bottom: 1em;
  border-top-width: 0.05556em;
  border-top-style: solid;
  padding-top: 0.94444em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* line 105, ../../sass/_hotspot-detail.scss */
.hotspot-list-title {
  font-size: 1.2em;
  line-height: 1.33333em;
  border: none;
  color: #feeeb1;
}

@media (orientation: portrait) {
  /* line 112, ../../sass/_hotspot-detail.scss */
  .hotspot-item {
    padding-top: 0.66667em;
    padding-bottom: 0.66667em;
  }
}

/* line 121, ../../sass/_hotspot-detail.scss */
.hotspot-spinner {
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
}

/* line 17, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 105, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.33333em;
}

@media (max-width: 480px) {
  /* line 105, ../../../../../../../usr/local/Cellar/ruby/1.9.3-p385/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 72%;
    line-height: 1.33333em;
  }
}
/* line 27, ../../sass/app.scss */
body {
  font-family: Arial, sans-serif;
  position: relative;
}

/* line 33, ../../sass/app.scss */
a {
  color: whitesmoke;
  text-decoration: none;
}
/* line 37, ../../sass/app.scss */
a:hover {
  text-decoration: underline;
}

/* line 54, ../../sass/app.scss */
.geolocate {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  cursor: pointer;
  font-size: 12px;
  left: 360px;
  line-height: 21px;
  padding: 2px 0 0 0;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 26px;
  z-index: 1;
}
/* line 71, ../../sass/app.scss */
.geolocate:hover {
  background-color: #f4f4f4;
  color: #000;
}

/* line 77, ../../sass/app.scss */
.error-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

/* line 87, ../../sass/app.scss */
.error {
  background: rgba(8, 8, 8, 0.9);
  color: #fdd84c;
  border-radius: 0.5em;
  padding: 1em;
  width: 500px;
}
@media (orientation: portrait) {
  /* line 87, ../../sass/app.scss */
  .error {
    width: 80%;
  }
}
