<div class="app-wrapper" ng-class="{'in-detail' : currentHotspot}">
  <leaflet testing="testing" id="map" markers="markers" center="center" defaults="mapDefaults"></leaflet>
  <article class="hotspot-container">
    <header class="hotspot-header">
      <div class="hotspot-title" hammer-drag>
        <h1 class="hotspot-title--main">{{currentHotspot.mainLoc}}</h1>
        <h2 class="hotspot-title--sub">{{currentHotspot.subLoc}}</h2>
      </div>
      <a class="hotspot-directions" directions-link><span class="hotspot-directions-icon">Directions</span></a>
    </header>
    <main class="hotspot-list">
      <div class="hotspot-item-container allow-touch">
        <h2 class="hotspot-list-title">Recent Observations</h2>
        <div ng-repeat="bird in currentHotspot.sightings" class="hotspot-item">{{bird.comName}}</div>
      </div>
      <spinner ng-show="!currentHotspot.sightings" class="hotspot-spinner" color="#fff" lines="13" length="20" width="10" radius="30"></spinner>
    </main>
  </article>
  <div class="error-container" ng-show="errorMessage">
    <div class="error" ng-bind-html-unsafe="errorMessage"></div>
  </div>
</div>