<div class="splash">
  <div class="splash-container">
    <div class="splash-logo"><img src="img/birdur_logo.png" alt=""></div>
    <h1 class="splash-title">Birdur</h1>

    <div class="splash-form-container">
      <form name="locationForm" ng-submit="handleUserInput()">
        <input ng-model="searchQuery" class="splash-input" name="location" type="text" placeholder="Enter your city, state or zip" required />
        <button class="splash-submit" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>